services:
  backend:
    build: ./backend
    container_name: cutr-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
      - redis
  
  db:
    image: postgres:18.1
    container_name: cutr-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: cutr_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:8.6
    container_name: cutr-redis
    ports:
      - "6379:6379"

  adminer: 
    image: adminer:5.4.2
    container_name: cutr-adminer
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  postgres_data:

